@keyframes peek {
    0%, 
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    50% {
        -webkit-transform: translate3d(200px, 0, 0);
        -moz-transform: translate3d(200px, 0, 0);
        -o-transform: translate3d(200px, 0, 0);
        transform: translate3d(200px, 0, 0);
    }
}
@-webkit-keyframes peek {
    0%, 
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    50% {
        -webkit-transform: translate3d(200px, 0, 0);
    }
}
@-moz-keyframes peek {
    0%, 
    100% {
        -moz-transform: translate3d(0, 0, 0);
    }
    50% {
        -moz-transform: translate3d(200px, 0, 0);
    }
}

@-ms-keyframes peek {
    0%, 
    100% {
        -o-transform: translate3d(0, 0, 0);
    }
    50% {
        -o-transform: translate3d(200px, 0, 0);
    }
}
@-o-keyframes peek {
    0%, 
    100% {
        -o-transform: translate3d(0, 0, 0);
    }
    50% {
        -o-transform: translate3d(200px, 0, 0);
    }
}

#party {
}

#party {
    left: -940px;
    top: 180px;
    position: fixed;
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -ms-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
}
#party:hover {
    left: 0;
}

.cssanimations.csstransforms3d #party {
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-animation: peek 2s cubic-bezier(0,1,0,1) 1, shake 1.5s 2;
    -moz-animation: peek 2s cubic-bezier(0,1,0,1) 1, shake 1.5s 2;
    -ms-animation: peek 2s cubic-bezier(0,1,0,1) 1, shake 1.5s 2;
    -o-animation: peek 2s cubic-bezier(0,1,0,1) 1, shake 1.5s 2;
    animation: peek 2s cubic-bezier(0,1,0,1) 1, shake 3s 2;
    -webkit-animation-delay:0s, 4s;
    -moz-animation-delay:0s, 4s;
    -ms-animation-delay:0s, 4s;
    -o-animation-delay:0s, 4s;
    animation-delay:0s, 4s;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0,1,0,1);
    -moz-transition: -moz-transform 0.5s cubic-bezier(0,1,0,1);
    -ms-transition: -ms-transform 0.5s cubic-bezier(0,1,0,1);
    -o-transition: -o-transform 0.5s cubic-bezier(0,1,0,1);
    transition: transform 0.5s cubic-bezier(0,1,0,1);
    box-shadow:1em 0 1.5em rgba(0,0,0,0.7);
}
.cssanimations.csstransforms3d #party:hover {
    box-shadow:1em 0 3em rgba(0,0,0,1);
    left:-940px;
    -webkit-transform: translate3d(940px, 0, 0);
    -moz-transform: translate3d(940px, 0, 0);
    -ms-transform: translate3d(940px, 0, 0);
    -o-transform: translate3d(940px, 0, 0);
    transform: translate3d(940px, 0, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0,1,0,1), box-shadow 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s cubic-bezier(0,1,0,1), box-shadow 0.5s ease-in-out;
    -ms-transition: -ms-transform 0.5s cubic-bezier(0,1,0,1), box-shadow 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s cubic-bezier(0,1,0,1), box-shadow 0.5s ease-in-out;
    transition: transform 0.5s cubic-bezier(0,1,0,1), box-shadow 0.5s ease-in-out;
}
.cssanimations.csstransforms3d #party.revealed,
.cssanimations.csstransforms3d #party:hover {
    animation:none;
}